<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyFlaskApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
      <h1>ABOUT US</h1>
      <p>Literature is a term used to describe written and sometimes spoken material. Derived from the Latin word literature meaning "writing formed with letters," literature most commonly refers to works of the creative imagination, including poetry, drama, fiction, nonfiction, and in some instances, journalism and song. </p>


      <br>
      <p>Works of literature, at their best, provide a kind of blueprint of human society. From the writings of ancient civilizations such as Egypt and China to Greek philosophy and poetry, from the epics of Homer to the plays of William Shakespeare, from Jane Austen and Charlotte Bronte to Maya Angelou, works of literature give insight and context to all the world's societies. In this way, literature is more than just a historical or cultural artifact; it can serve as an introduction to a new world of experience.

But what we consider to be literature can vary from one generation to the next. For instance, Herman Melville's 1851 novel "Moby Dick" was considered a failure by contemporary reviewers. However, it has since been recognized as a masterpiece and is frequently cited as one of the best works of Western literature for its thematic complexity and use of symbolism. By reading "Moby Dick" in the present day, we can gain a fuller understanding of literary traditions in Melville's time. </p>
<br>

    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
    <script type="text/javascript">
      CKEDITOR.replace('editor')
    </script>

  </body>
</html>
